# Ignore all in examples. not ASM directory
examples/*
!examples/ASM
examples/ASM/*

# Unignore all c extensions
!examples/*.c
!examples/*.C
!examples/ASM/*.S

pypi
__pycache__
.cache
.idea
docs/workshopnano.md
docs/boards.md
