<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExpEYES Online Classrooms</title>
	<script src="/static/jquery.min.js"></script>
	<script src="/static/semantic/semantic.min.js"></script>
	<script src="/static/socket.io.min.js"></script>
	<script src="/static/adapter.js"></script>

	  <script src="/static/blockly_compressed.js"></script>
	  <script src="/static/blocks_compressed.js"></script>
	  <script src="/static/javascript_compressed.js"></script>
	  <script src="/static/python_compressed.js"></script>
     <script src="/static/msg/js/en.js"></script>
	  <link rel="stylesheet" type="text/css" href="/static/blocklystyle.css">
	  <script src="/static/workspace_interpreted.js"></script>


    <link rel="stylesheet" href="/static/semantic/semantic.min.css" />
    <link rel="stylesheet" href="/static/classroom.css" />

	{% if jqplot %}
	<script type="text/javascript" src="/static/jqplot/jquery.jqplot.js"></script>
	<script type="text/javascript" src="/static/jqplot/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript" src="/static/jqplot/jqplot.canvasAxisLabelRenderer.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqplot.min.css" />
	{% endif %}
	{% if uplot %}
	<link rel="stylesheet" type="text/css" href="/static/uplot/uPlot.min.css" />
	<script type="text/javascript" src="/static/uplot/uPlot.iife.js"></script>
	{% endif %}

	


	{% if videoenabled %}
	<script src="/static/videocall.js?version=11"></script>
	{% endif %}
	{% if audioenabled %}
	<script src="/static/audiocall.js?version=11"></script>
	{% endif %}

    <script>
	  var myStudents = {};
	  var myStudentsOriginalWidgets = {};

      var socket = io.connect(origin+'/classroom'); //,{'heartbeat interval': 5,  'heartbeat timeout' : 10}
      socket.on('connect', function () {
        $('#connectionstatus').addClass('green').removeClass('loading').removeClass('red');
      });


      socket.on('disconnect', function () {
        $('#connectionstatus').addClass('loading').removeClass('green').addClass('red');
        message('System', 'Disconnected..');
      });


      socket.on('reconnect', function () {
        $('#lines').remove();
        message('System', 'Reconnected to the server');
      });
      
      
      socket.on('reconnecting', function () {
        message('System', 'Attempting to re-connect to the server');
      });
      
      socket.on('error', function (e) {
        message('System', e ? e : 'A unknown error occurred');
      });
      
      function message (from, msg) {
        $('#message').html("<p><b>"+from+": </b>"+msg+"</p>")
      }
      
      // dom manipulation
      $(function () {
        
        function clear () {
          $('#message').val('').focus();
        };
      });


      $(document).ready(function() {
        $(".ui.toggle.button").click(function() {
          $(".mobile.only.grid .ui.vertical.menu").toggle(100);
        });
		
		$('#sidebar').sidebar('setting', 'dimPage', false);

      });


    </script>

	<script src="/static/experimentTemplates.js"></script>
	<script src="/static/classroom.js"></script>
	

</head>

<body id = "root">

    <div class="ui tablet computer only padded grid">
      <div class="ui inverted borderless top fixed fluid menu">
		<div class="item">
			<img class="ui mini circular image" src="/static/images/logo.png">
			<div class="content">
			  <a class="ui inverted header">ExPEYES Classroom: {{ name }}</a>
			  <p id="message"></p>
			</div>
		</div>

		<div>
		</div>
        <div class="right menu">
          <!--
          <div class="item">
            <div class="ui small input"><input placeholder="Search..." /></div>
          </div>
          -->
          <div class="item">
		  <button id="connectionstatus" class="ui red active loading button item">Connected</button>
          </div>
          <a class="item" href="{{ url_for('teacherhome.classroom') }}">Classroom</a>
          {% if current_user.is_authenticated %}<a class="item" href="{{ url_for('auth.logout') }}">Logout</a>{% endif %}
        </div>
      </div>
    </div>
    
    <div class="ui mobile only padded grid">
      <div class="ui top fixed borderless fluid inverted menu">
        <a id="header-text" class="header item">
			ExPEYES Classroom: {{ name }}
        </a>
        <div class="right menu">
          <div class="item">
            <button class="ui icon toggle basic inverted button">
              <i class="content icon"></i>
            </button>
          </div>
        </div>
        <div class="ui vertical borderless inverted fluid menu">
          <a class="item">Settings</a><a class="item">Help</a>
          {% if current_user.is_authenticated %}<a class="item" href="{{ url_for('auth.logout') }}">Logout</a>{% endif %}
          <div class="ui fitted divider"></div>
          <div class="item">
            <div class="ui small input"><input placeholder="Search..." /></div>
          </div>
        </div>
      </div>
    </div>

  <div id="sidebar" class="ui left wide sidebar">
	  <h1 class="ui dividing header">Videos</h1>
	  <div id = "videocards" class="ui centered padded cards">
	  </div>
  </div>
  <div class="pusher">
    <!-- Site content !-->
    <div class="ui padded grid">

          {% block content %}
          {% endblock %}

    </div>
  </div>    

<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Details</h4>
          <div class="ui inverted link list">
            <a target="_blank" href="https://csparkresearch.in/about" class="item">About</a>
            <a target="_blank" href="https://csparkresearch.in/contact" class="item">Contact Us</a>
          </div>
        </div>
        <div class="eight wide column">
          <h4 class="ui inverted header">Company</h4>
          <p>  Copyright © 2018  CSpark Research</p>
        </div>
        <div class="five wide column">
          <div class="ui vertical buttons">
			<a href="https://twitter.com/csparkresearch" target="_blank" class="ui twitter tiny button">
			  <i class="twitter icon"></i>
			  Twitter
			</a>
			<a href="https://www.instagram.com/phyglimmer/" target="_blank" class="ui instagram tiny button">
			  <i class="instagram icon"></i>
			  Instagram
			</a>
		  </div>
        </div>

      </div>
    </div>
  </div>

</body>

</html>
